*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.container{
	width: 100%;
	height: auto;
	background-color: #fff;
}

.main{
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
}

nav{
	width: 100%;
	height: 100px;
	background-color: #fff;
}

nav ul{
	float: right;
}

nav ul li{
	display: inline-block;
	list-style-type: none;
}

nav ul li a{
	text-decoration: none;
	color: #272727;
	line-height: 100px;
	padding: 35px 10px;
	font-size: 13px;
	letter-spacing: 0.5px
}

.logo{
	float: left;
	line-height: 100px;
}

.slider{
	width: 100%;
	height: 630px;
	background-image: url(../img/coffee.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
}

.slider .title{
	width: 60%;
	height: auto;
	position: absolute;
	left: 18.5%;
}

.slider .title h1{
	font-size: 50px;
	color: #fff;
	line-height: 65px;
}

.slider .title h1 span{
	color: #01d7a7 !important;
}

.slider .title p{
	font-size: 18px;
	color: #fff;
	line-height: 1.5;
	margin-top: 15px;
	padding-right: 20px;
}

.slider .title .btn{
	color: #fff;
	background-color: #01d7a7;
	border-radius: 3px;
	padding: 16px 36px;
	text-align: center;
	letter-spacing: 0.5px;
	text-decoration: none;
	margin-right: 10px;
	line-height: 26px;
	display: inline-block;
	font-size: 16px;
	margin-top: 15px; 
}

.slider .title .btn:hover{
	background-color: #272727; 
}

.flex-container{
	margin-top: 80px;
	clear: both;
	float: left;
}

.main .flex-container .flex-items{
	width: 20%;
	display: inline-block;
	text-align: center;
	margin-left: 46px;
}

.main .flex-container .flex-items h5{
	font-size: 18px;
	letter-spacing: 0.5px;
	margin: 20px 0px;
}

.main .flex-container .flex-items p{
	color: #727272;
}

.main .flex-container .flex-items .text-blue{
	font-size: 40px;
	color: #3278fa !important;
}

.flex-items2{
	width: 33.06%;
	height: auto;
	float: left;
	padding: 0 15px;
}

.flex-items2 h6{
	letter-spacing: 3px;
	font-size: 16px;
	margin-bottom: 15px;
	color: #3278fa;
}

.flex-items2 h3{
	color: #272727;
	font-size: 27px;
	line-height: 35px;
	letter-spacing: 0.5px;
	margin-bottom: 20px;
}

.flex-items2 .read{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	border: 1px solid #272727;
	background-color: #272727;
	padding: 10px 25px;
	transition: 0.3s all;
	border-radius: 20px;
}

.flex-items2 p{
	padding-bottom: 40px;
	color: rgb(114,114,114);
	margin: 0 0 10px;
	font-size: 14px;
	line-height: 23px;
}

.flex-items2 .zoom img{
	max-width: 100%;
}

.title-line{
	width: 30px;
	border-bottom: 3px solid #3278fa;
	text-align: center;
}

.margin-top{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

.para{
	width: 83.333%;
	padding-right: 20px;
	padding-left: 20px;
	float: right;
	margin-top: 8px
}

.margin-top-1{
	float: left;
	margin-top: 10px;
	width: 100%;
}

.who-we-are{
	width: 100%
	padding: 70px 0px 70px 0px;
	background-image: url(../img/coffee.jpg);
	background-size: cover;
	clear: both;
	float: left;
}

.who-we-are .heading h2{
	font-size: 35px;
	line-height: 35px;
	margin-bottom: 25px;
	letter-spacing: 0.5px;
	text-align: center;
	color: #fff;
}

.who-we-are .heading p{
	width: 60%;
	margin: auto;
	text-align: center;
	line-height: 25px;
	color: #fff;
}

.who-we-are .col-1{
	width: 33.333%;
	float: left;
	padding: 20px;
	margin-top: 30px;
}

.who-we-are .col-1 img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.who-we-are .col-1 .text-box{
	padding: 9%;
	background-color: #f3f3f3;
	width: 100%;
	text-align: center;
}

.who-we-are .col-1 .text-box h4{
	margin-bottom: 5px;
	text-transform: uppercase;
	font-size: 22px;
	line-height: 25px;
	letter-spacing: 0.5px;
}

.who-we-are .col-1 .text-box p{
	color: #727272;
	line-height: 23px;
	text-align: center;
	margin: 0 0 10px;
	font-size: 14px;
}

.full-dark{
	width: 100%;
	padding: 72px 0 72px 0;
	background-color: #121212;
	float: left;
	clear: both;
}

.full-dark .col-md-1{
	width: 33.333%;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 40px;
}

.full-dark .col-md-1 .icon{
	float: left;
	margin: 0px 20px 0px 0px;
	color: #01d7a7 !important;
	font-size: 32px;
}

.full-dark .col-md-1 .text-box-1{
	padding: 0px 0px 0px 60px;
	display: block;
}

.full-dark .col-md-1 .text-box-1 h5{
	font-size: 18px;
	line-height: 23px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #fff;
	margin-bottom: 5px;
}

.full-dark .col-md-1 .text-box-1 p{
	font-size: 14px;
	margin: 0px 0px 10px;
	line-height: 23px;
	color: #fff;
	opacity: 0.5
}

.full-light{
	width: 100%;
	padding: 72px 0px 72px 0px;
	float: left;
	display: block;
	background-color: #f3f3f3;
}

.full-light .heading{
	padding-bottom: 40px;
}

.full-light .heading h2{
	font-size: 35px;
	line-height: 35px;
	margin-bottom: 20px;
	letter-spacing: 0.5px;
	text-align: center;
	color: #272727;
}

.full-light .heading p{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	line-height: 25px;
	color: #727272;
	font-size: 14px;
}

.full-light .col-md-2{
	width: 25%;
	float: left;
	padding: 0 25px;
}

.full-light .col-md-2 .inner{
	padding: 20px;
	text-align: center;
	font-size: 14px;
	background-color: #fff;
}

.full-light .col-md-2 .inner img{
	max-width: 25%
	height: auto;
	margin-bottom: 20px;
	vertical-align: middle;
}

.full-light .col-md-2 .inner h6{
	margin-top: 10px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 21px;
}

.parallax{
	width: 100%;
	padding: 100px 0 90px 0;
	background: url(../img/city.jpg) 50% 0 no-repeat fixed;
	float: left;
	clear: both;
}

.parallax .main .heading h2{
	font-size: 35px;
	line-height: 40px;
	color: #fff;
	margin-bottom: 10px;
	text-align: center;
}

.parallax .main .heading p{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-size: 14px;
}

.parallax .main .col-md-1{
	width: 33.333%;
	float: left;
	color: #fff;
	margin-top: 60px;
}

.parallax .main .col-md-1 .icon{
	float: left;
	margin: 0px 20px 0px 0px;
	font-size: 32px;
}

.parallax .main .col-md-1 .text-box-1{
	display: block;
	width: 85%;
	padding: 0 0 0 60px;
}

.parallax .main .col-md-1 .text-box-1 h5{
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0.5px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.parallax .main .col-md-1 .text-box-1 p{
	font-size: 14px;
	margin: 0 0 10px;
	line-height: 23px;
}

.our-portfolio{
	width: 100%;
	padding: 72px 0px 72px 0px;
	float: left;
	display: block;
}

.our-portfolio .heading h2{
	font-size: 35px;
	line-height: 35px;
	margin-bottom: 20px;
	letter-spacing: 0.5px;
	text-align: center;
	color: #272727;
}

.our-portfolio .heading p{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	line-height: 25px;
	color: #727272;
	font-size: 14px;
}

.our-portfolio .col-md-3{
	width: 25%;
	float: left;
	margin-top: 60px;
}

img{
	max-width: 100%;
	margin-bottom: -3px;
}

.first-hover{
	position: relative;
	overflow: hidden;
}

.first-hover .overlay-text{
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	visibility: hidden;
	cursor: pointer;

}

.first-hover:hover .overlay-text{
	opacity: 1;
	visibility: visible;
}

.overlay-text h3{
	position: relative;
	display: block;
	width: 100%
	text-align: center;
	padding-bottom: 10px;
}

.overlay-text h3::before{
	content: '';
	position: absolute;
	width: 80%;
	height: 2px;
	background-color: #fff;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
}

.sec-bgimg{
	background-image: url(../img/5.jpg);
	background-size: cover;
	display: block;
	float: left;
	clear: both;
	width: 100%;
	padding-top: 80px;
}

.sec-bgimg .text-box-2{
	width: 41.66667%;
	float: left;
	margin-left: 60px;
}

.sec-bgimg .text-box-2 h2{
	font-size: 35px;
	line-height: 35px;
	color: #fff;
	letter-spacing: 0.5px;
	float: left;
	width: 100%;
	font-weight: 700;
	margin-top: 50px;
	margin-bottom: 20px;
}

.sec-bgimg .text-box-2 h5{
	font-size: 18px;
	line-height: 27px;
	color: #fff;
	letter-spacing: 0.5px;
	font-weight: 400;
	margin-bottom: 60px;
}

.sec-bgimg .text-box-2 a{
	color: #272727;
	text-decoration: none;
	background-color: #fff;
	padding: 12px 28px;
	border: 2px solid #fff;
	border-radius: 23px;
	text-align: center;
	letter-spacing: 0.5px;
	font-weight: 700;

}

.sec-bgimg .img-box{
	width: 33.333%;
	float: left;
	margin-left: 170px;
}

.meet-our-team{
	width: 100%;
	padding: 72px 0px 72px 0px;
	float: left;
	display: block;
}

.meet-our-team .heading h2{
	font-size: 35px;
	line-height: 35px;
	margin-bottom: 20px;
	letter-spacing: 0.5px;
	text-align: center;
	color: #272727;
}

.meet-our-team .heading p{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	line-height: 25px;
	color: #727272;
	font-size: 14px;
}

.meet-our-team .col-md-3{
	width: 25%;
	float: left;
	margin-top: 60px;
}

.meet-our-team .col-md-3 figure{
	padding-bottom: 90px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	text-align: center;
	margin-bottom: 20px;
	display: block;
} 

.meet-our-team .col-md-3 figure .grid-holder a img{
	max-width: 100%;
	display: block;
	height: auto;
}

.meet-our-team .col-md-3 figure .grid-holder .team-content-holder{
	height: 90px;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 20px;
	text-align: center;
	overflow: hidden;
}

.meet-our-team .col-md-3 figure .grid-holder .team-content-holder .personal-info{
	position: relative;
	margin-bottom: 15px;
	float: left;
	width: 100%;
}

.meet-our-team .col-md-3 figure .grid-holder .team-content-holder .personal-info h3{
	font-size: 18px;
	font-weight: 600;
	color: #01d7a7;
	line-height: 30px;
	letter-spacing: 0.5px;
}

.meet-our-team .col-md-3 figure .grid-holder .team-content-holder .personal-info span{
	font-size: 14px;
	color: #727272;
}

.meet-our-team .col-md-3 figure .grid-holder .team-content-holder::before{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: brown;
	left: -31px; 
}

.sec-29{
	background: url(../img/b.jpg) center center;
	padding: 72px 0px 72px 0px;
	float: left;
	clear: both;
	text-align: left;
	width: 100%;
}

.sec-29 .inner-div{
	width: 100%;
	margin: auto;
}

.sec-29 .inner-div .col-md-1{
	width: 33.333%;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 40px;
}

.sec-29 .inner-div .col-md-1 .icon{
	float: left;
	margin: 0px 20px 0px 0px;
	color: #fff !important;
	font-size: 32px;
}

.sec-29 .inner-div .col-md-1 .text-box-1{
	display: block;
}

.sec-29 .inner-div .col-md-1 .text-box-1 h5{
	color: #fff;
	float: left;
	font-size: 18px;
	font-weight: 600;
	padding: 10px 16px;
	background-color: #27d79b;
	border-radius: 4px;
	margin-top: -7px
}

.sec-29 .inner-div .col-md-1 .text-box-1 p{
	float: left;
	line-height: 23px;
	color: #fff;
	margin: 0 0 10px;
	padding-top: 20px;
}

.section-light{
	width: 100%;
	padding: 72px 0px 72px 0px;
	float: left;
	display: block;
	background: grey;
}

.section-light .heading h2{
	font-size: 35px;
	line-height: 35px;
	margin-bottom: 20px;
	letter-spacing: 0.5px;
	text-align: center;
	color: #fff;
}

.section-light .heading p{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 14px;
}

.section-light .col-md-3{
	width: 25%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 23px;
	color: #727272;
	margin-top: 60px;
}

.section-light .col-md-3 .feature-box{
	width: 100%;
	float: left;
	text-align: center;
	padding: 40px 20px;
	background-color: #fff;
	margin-bottom: 20px;
	box-shadow: 0 20px 20px rgba(0,0,0,0.13)
}

.section-light .col-md-3 .feature-box h4{
	font-size: 22px;
	line-height: 25px;
	letter-spacing: 0.5px;
	color: #727272;
	font-weight: 600;
}

.section-light .col-md-3 .feature-box h2{
	font-size: 35px;
	line-height: 35px;
	font-weight: 600;
	padding-top: 10px;
	color: #01d7a7 !important;
	margin-bottom: 20px;
	letter-spacing: 0.5px;
}

.section-light .col-md-3 .feature-box em{
	font-size: 13px
}

.section-light .col-md-3 .feature-box ul{
	margin-bottom: 30px;
	margin-top: 0;
	padding: 0 0 0 35px;
	list-style-type: none;
}

.section-light .col-md-3 .feature-box ul li{
	color: #727272;
	font-size: 14px;
	padding-top: 6px;
	text-align: left;
}

.section-light .col-md-3 .feature-box .btn{
	padding: 10px 21px;
	color: #01d7a7;
	text-align: center;
	border: 1px solid #01d7a7;
	letter-spacing: 0.5px;
	text-decoration: none;
	font-weight: 600;
	margin-top: 30px;
	transition: 0.3s all;
}

.section-light .col-md-3 .feature-box .btn:hover{
	border: 1px solid #2ecc71;
	color: #fff;
	box-shadow: inset 200px 0px 0px 0px #01d7a7;
}

.section-dark{
	width: 100%;
	padding: 40px 0px 40px 0px;
	background-color: #272727;
	display: block;
	float: left;
	clear: both;
}

.section-dark .col-md-9{
	width: 75%;
	float: left;
	margin-left: 55px;
}

.section-dark .col-md-9 h2{
	color: #fff;
	font-weight: 700;
	font-size: 35px;
	letter-spacing: 0.5px;
}

.section-dark .col-md-4{
	margin-top: 3%;
	float: left;
}

.section-dark .col-md-4 a{
	text-decoration: none;
	color: #272727;
	border: 2px solid #fff;
	background: #fff;
	border-radius: 25px;
	padding: 14px 36px;
	text-align: center;
	letter-spacing: 0.5px;
	font-weight: 700;
	transition: 0.3s all;
}

.section-dark .col-md-4 a:hover{
	color: #fff;
	background: none;
	border: 2px solid #fff;
}
























































